* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.attribution {
  font-size: .8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(218, 44%, 22%);
}

.card {
  max-width: 20rem;
}

.card img {
  display: block;
  max-width: 100%;
}

.content {
  /* width: 340px; */
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.qr-code {
  /* width: 300px; */
  border-radius: 15px;
}

.content h1 {
  margin-top: 20px;
  width: 300px;
  color: hsl(218, 44%, 22%);
  font-size: 1.5rem;
}

.content p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}